.font-bold {
	font-weight: bold;
}

.width-702 {
	width: 702rpx;
}

.width-686 {
	width: 686rpx;
}

.border-radius-10 {
	border-radius: 10rpx;
}

.border-radius-8 {
	border-radius: 8rpx;
}

.margin-auto {
	margin: 0 auto;
}

.bg-fff {
	background-color: #fff;
}

.bg-primay {
	background-color: #2D77FA;
}

.bg-ff9 {
	background-color: #FF920F;
}

.bg-f7f {
	background-color: #F7F8FA;
}

.text-color-666 {
	color: #666;
}

.text-color-222 {
	color: #222;
}

.text-color-primary {
	color: #2D77FA;
}

.text-color-fff {
	color: #fff;
}

.text-color-EA2 {
	color: #EA2E02;
}

.text-color-40B {
	color: #40B24E;
}

.text-color-969 {
	color: #969799;
}

.text-color-999 {
	color: #999;
}

// 按钮
.normal-btn {
	width: 150rpx;
	height: 64rpx;
	border-radius: 32rpx;
	line-height: 64rpx;
	text-align: center;
}


.btn-bhg {
	background: linear-gradient(88deg, #F4613F 0%, #EA2E02 100%);
}

.btn-hg {
	background: linear-gradient(88deg, #3ED650 0%, #40B24E 100%);
}